<!DOCTYPE html>
<html lang="en">

<head>
  {{template "Head"}}
</head>

<body>
  {{template "Header" .}}

  <main class="messenger">
    <div class="sidebar">
      <div class="tabs">
        <p class="selected-tab" id="chatroomsTabBtn">chat rooms</p>
        <p id="invitesTabBtn">invites</p>
        <p id="usersTabBtn">users</p>
      </div>
      <div id="sidebar-display">
        <div id="search-box">
          <input type="text">
          <button>search</button>
        </div>
        <div id="open-tab">
          no active chats
        </div>
        <div id="new-group-btn-container">
          <button id="new-group-btn"> new chat group </button>
        </div>
      </div>
    </div>
    <div id="chat">
      <h2 id="chatroom-name"></h2>
      <div id="message-box">

      </div>
      <div id="message-form">
        <form action="">
          <textarea name="Message"></textarea>
          <button>send</button>
        </form>
      </div>
    </div>
  </main>
  <div class="modal" id="new-chatroom-modal">
    <div>
      <label for="new-chatroom-name">
        New Chatroom Name:
        <br>
        <input type="text" name="new-chatroom-name">
      </label><br>
      <div class="modal-btns">
        <button id="chatroom-modal-cancel">Cancel</button>
        <button id="submit-new-chatroom">Submit</button>
      </div>
    </div>
  </div>
  <script src="/public/messenger.js"></script>
</body>

</html>