<!DOCTYPE html>
<html lang="en">

<head>
  {{template "Head"}}
</head>

<body>
  {{template "Header" .}}

  <main class="messenger">
    <div class="sidebar">
      <div class="tabs">
        <p class="selected-tab" id="chatroomsTabBtn">chat rooms</p>
        <p id="invitesTabBtn">invites</p>
        <p id="usersTabBtn">users</p>
      </div>
      <div id="sidebar-display">
        no active chats
      </div>
    </div>
    <div class="chat">
      <h2>chat room name</h2>
      <div class="message-box">
        message box
      </div>
      <div class="message-form">
        <form action="">
          <textarea></textarea>
          <button>send</button>
        </form>
      </div>
    </div>
  </main>
  <script src="/public/messenger.js"></script>
</body>

</html>