<!DOCTYPE html>
<html lang="en">

<head>
  {{template "Head"}}
</head>

<body>
  {{template "Header" .}}

  <main class="messenger">
    <div class="chat-rooms">
      <h2>chat rooms</h2>
      <div class="active-chats">
        no active chats
      </div>
    </div>
    <div class="chat">
      <h2>chat room name</h2>
      <div class="message-box">
        message box
      </div>
      <div class="message-form">
        <form action="">
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button>send</button>
        </form>
      </div>
    </div>
  </main>
</body>

</html>